.jumbotron{
  text-align: center;
  font-family: 'IM Fell English', serif;
  line-height: 30px;
  font-weight: bold;
}
.rules{
  text-align: left;

}
.how{
  background-image: url(../images/hammer-719066_1920.jpg);
  font-family: 'Love Ya Like A Sister', cursive;
  background-attachment: fixed;
  line-height: 60px;
  font-weight: 800;
}
.headerr2{
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: bold;
}
.list{
  font-weight: bolder;
}
.history{
  text-align: right;
}
.game{
  font-family: 'Cardo', serif;
  border-color: white;
  border: 4px;
}
