html,body{
      height: 100%;
      background-image: url("../img/header-image.jpg");
      background-size: cover;
      position: relative;
}
.header{
  text-align: center;
}
.rules{
  text-align: left;

}
