.jumbotron{
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  background-color:#4AC29A;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.how{
  background-image: url(../images/pig.jpg);
  font-family: 'Love Ya Like A Sister', cursive;
  background-attachment: fixed;
  line-height: 60px;
  font-weight: 800;
}

.list{
  font-weight: bolder;
  font-size: 20px;
}
.game{
  background-color: #2ecc71;
  color: white;
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}
.intro{
  background-image: url(../images/bck.jpg);
}
